* {
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

body {
  margin: 0;
  height: 100vh;
  background-color: white;
}
body .navbar {
  margin-bottom: 30px;
  background-color: #a51174;
}
body .container {
  margin: auto;
  padding: 0;
  width: 80%;
  height: 80%;
}
body .container #carousel {
  height: 100%;
}
body .container #carousel .inslide {
  height: 100%;
  text-align: center;
}
body .container #carousel .inslide .text {
  color: white;
  text-align: center;
}
body .title {
  margin: 10px;
  text-align: center;
  color: #a51174;
}
body .row {
  width: 100%;
}
body .row .card {
  width: 15rem;
  margin: 0 auto;
  float: none;
}
body .row .card .card-img-top {
  width: 100%;
  height: 20vw;
  object-fit: cover;
}
body .row .card h4 {
  color: #a51174;
}
body .main-timeline {
  overflow: hidden;
  position: relative;
}
body .main-timeline:before {
  content: "";
  width: 10px;
  height: 100%;
  border: 3px solid #a51174;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
}
body .main-timeline .timeline {
  width: 50%;
  padding: 10px 60px 10px 100px;
  float: right;
  position: relative;
}
body .main-timeline .timeline:before {
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #a59f9f;
  border: 5px solid white;
  box-shadow: 0 0 1px 5px #a59f9f;
  position: absolute;
  top: 42px;
  left: -20px;
}
body .main-timeline .timeline:nth-child(2n) {
  padding: 10px 100px 10px 60px;
  text-align: right;
}
body .main-timeline .timeline:nth-child(2n):before {
  left: auto;
  right: -20px;
}
body .main-timeline .timeline:nth-child(2n) .year {
  padding-right: 50px;
  border-radius: 10px 10px 0 10px;
  left: auto;
  right: -20px;
}
body .main-timeline .timeline:nth-child(2n) .year:before {
  border-left: none;
  border-right: 20px solid transparent;
  left: auto;
  right: 0;
}
body .main-timeline .timeline:nth-child(2) {
  margin-top: 140px;
}
body .main-timeline .timeline:nth-child(odd) {
  margin-top: -140px 0 0 0;
}
body .main-timeline .timeline:nth-child(even) {
  margin-bottom: 60px;
}
body .main-timeline .timeline:first-child, body .main-timeline .timeline:last-child:nth-child(even) {
  margin: 0;
}
body .main-timeline .timeline .timeline-content {
  display: block;
  background: #a59f9f;
  padding: 70px 30px 20px;
  box-shadow: 0 0 10px rgpa(0, 0, 0, 0.2) inset;
  position: relative;
}
body .main-timeline .timeline .timeline-content:hover {
  text-decoration: none;
}
body .main-timeline .timeline .timeline-content .year {
  display: block;
  width: 80%;
  height: 50px;
  background: #a51174;
  padding: 0 0 0 50px;
  font-size: 30px;
  font-weight: 800;
  color: white;
  line-height: 50px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4) inset;
  border-radius: 10px 10px 10px 0;
  position: absolute;
  top: 20px;
  left: -20px;
}
body .main-timeline .timeline .timeline-content .year:before {
  content: "";
  border-top: 40px solid #a51174;
  border-left: 20px solid transparent;
  border-bottom: 20px solid transparent;
  position: absolute;
  bottom: -60px;
  left: 0;
}
body .main-timeline .timeline .timeline-content .titleX {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: #a51174;
}
body .main-timeline .timeline .timeline-content .discription {
  font-size: 14px;
  color: #6f6f6f;
  margin: 0 0 5px 0;
}

/*# sourceMappingURL=style.css.map */
